@model DotNetShopping.Models.ProductBoxModel
@{
    Layout = null;
}

<div class="products-slider">
    @foreach (DotNetShopping.Models.ProductBoxModel product in ViewBag.Products)
    {
        <div>
            @Html.Partial("_ProductPartial", product)
        </div>
    }
</div>