
@{
    ViewBag.Title = ViewBag.Title;
    ViewBag.Keywords = ViewBag.Keywords;
    ViewBag.Description = ViewBag.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title</h2>
<body>
    @ViewBag.Body;
</body>