@model DotNetShopping.Models.OrderDetailModel
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order</h2>
<table class="orderTable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (DotNetShopping.Models.OrderProductListModel item in Model.OrderProducts)
        {
                var productName = DotNetShopping.Helpers.StringHelper.ClearFileName(item.VariantName + " " + item.ProductName);

            <tr onclick="window.location = '@Url.Action("Product","ProductDetail",new { id = item.VariantId , name = productName})';">
                <td><img src="~/ProductImage/@(item.FileName)-1.jpg" /></td>
                <td>@item.VariantName @item.ProductName</td>
                <td>@item.Quantity</td>
                <td>$@item.UnitPrice</td>
                <td>$@item.TotalPrice</td>
                
            </tr>
        }
    </tbody>
</table>
