body{

}
.navbar-right {
    margin-right: -10px;
}
.error{
    color:red;
    font-weight:bold;
}

.orderTable tbody tr{
    cursor : pointer;
}

.orderDetail {
    width: 100%;
    margin-bottom: 40px;
}

    .orderDetail td {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .orderDetail .titleLabel {
        font-weight: bold;
        width: 120px;
    }

    .orderTable .odd:hover {
        background-color : #e1ddc3;
    }

    .orderTable .even:hover {
        background-color : #e1ddc3;
    }